* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Nav bar */

.navbar a,
.navbar-nav a {
  font-size: 1.5rem;
  color: #001f3f !important;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar {
  height: 5%;
}

.navbar-brand:hover {
  transform: scale(1.1);
}

.navbar-nav a:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .navbar-toggler {
    position: absolute !important;
    right: 5%;
    top: 5%;
    background-color: #acb0b4 !important;
  }

  .navbar {
    padding: 0 !important;
  }

  .navbar-brand {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    background-color: white;
    height: 100vh;
  }

  .nav-link {
    padding: 20px 20px 40px 40px !important;
    font-size: 1.5rem !important;
  }
}

@media (max-width: 576px) {
  .navbar-brand span {
    display: none !important;
  }
}

.hr-thick {
  border-top: 2px solid #1f1e1ed9;
}
/* Hero container */

#hero {
  background-image: url(./Photos/main-img.jpg);
  background-blend-mode: screen;
  background-color: rgba(130, 39, 137, 0.753);
  background-size: cover;
  background-position: bottom;
  padding-top: calc(1 / 10 * 100%);
  margin-top: -7%;
}

#hero h2 {
  color: #001f3f;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 6px;
}

#hero h5 {
  color: #001f3f;
  font-weight: 700;
  letter-spacing: 6px;
}

.hr-small {
  border-top: 2px solid #1f1e1ed9;
}

.hero-container {
  padding-top: 170px;
  padding-bottom: 20%;
}

@media (max-width: 768px) {
  .hero-container {
    padding-top: 120px;
  }

  #hero {
    margin-top: -10%;
  }

  #hero h2 {
    letter-spacing: 2px !important;
    font-size: 1.5rem !important;
  }

  #hero h5 {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 440px) {
  .hero-container {
    padding-top: 90px;
  }

  #hero {
    margin-top: -20%;
  }

  #hero h2 {
    letter-spacing: 2px !important;
    font-size: 1rem !important;
  }

  #hero h5 {
    font-size: 0.7rem;
  }

  .main-sm-btn {
    font-size: 0.7rem !important;
    padding: 1px !important;
    margin-bottom: 5px;
  }
}

@media (max-width: 186px) {
  .hero-container {
    padding-top: 50px;
  }

  #hero {
    margin-top: -25%;
  }

  #hero h2 {
    letter-spacing: 1px !important;
    font-size: 0.7rem !important;
  }

  #hero h5 {
    font-size: 0.4rem !important;
  }

  .main-sm-btn {
    font-size: 0.7rem !important;
    padding: 0 !important;
  }

  .main-sm-btn i {
    padding: 0 !important;
  }
}

/* Portfolios section */

.header-portfolio {
  letter-spacing: 10px;
  font-size: 32px;
  font-weight: 700;
}

.img-apple {
  background-image: url(./Photos/Apple-clone.png);
  background-position: cover;
  background-size: cover;
  padding-top: calc(9 / 16 * 100%);
}

.img-newsweek {
  background-image: url(./Photos/newsweek-clone.png);
  background-position: cover;
  background-size: cover;
  padding-top: calc(9 / 16 * 100%);
}

.img-airbnb {
  background-image: url(./Photos/airbnb-clone.png);
  background-position: cover;
  background-size: cover;
  padding-top: calc(9 / 16 * 100%);
}

.img-portfolio {
  background-image: url(./Photos/Portfolio.png);
  background-position: cover;
  background-size: cover;
  padding-top: calc(9 / 16 * 100%);
}

@media (max-width: 440px) {
  .header-portfolio {
    letter-spacing: 5px !important;
    font-size: 16px !important;
    font-weight: 700;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .portfolios-section i,
  .portfolios-section p {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 186px) {
  .header-portfolio {
    letter-spacing: 1px !important;
    font-size: 12px !important;
    font-weight: 700;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .portfolios-section i,
  .portfolios-section p {
    font-size: 0.5rem !important;
  }
}

/* Section about */

.personal-photo {
  background-image: url(./Photos/my-photo.JPG);
  background-size: cover;
  background-position: center;
  padding-top: calc(9 / 10 * 100%);
  border-radius: 50%;
}

.summary-myself {
  font-size: 18px;
  font-weight: 700 !important;
  letter-spacing: 3px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-12 p {
    font-size: 0.8rem !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-12 p {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .col-12 p {
    font-size: 12px !important;
  }
}

/* Footer */

.footer {
  background-color: rgba(128, 128, 128, 0.1);
}

.footer span {
  font-size: 0.8rem !important;
}

@media (max-width: 576px) {
  .footer span {
    font-size: 0.3rem !important;
  }
}

@media (max-width: 576px) {
  .footer span {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
